body {
    text-align: center;
    padding: 0;
    margin: 7% 15%;
    background-color: #DDFFBB;
}

h1 {
    letter-spacing: 5px;
    color: #867070;
    background-color: bisque;
    padding: 7% 200px;
}

img {
    border-radius: 15%;
    width: 30%px;
}

ul, ol {
    text-align: left;
}